<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="vi">
<head>
    <meta charset="UTF-8">
    <title>Staff Dashboard - Quản lý giảng viên</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="icon" href="/images/logo_training_learning.png" type="image/x-icon">
</head>
<body>
    <div class="container mt-5">
        <h1 class="mb-4 text-info">Dashboard Quản lý giảng viên (Staff)</h1>
        <ul class="list-group">
            <li class="list-group-item"><a href="/staff/teachers">Danh sách giảng viên</a></li>
            <li class="list-group-item"><a href="/staff/assign">Phân công giảng dạy</a></li>
            <li class="list-group-item"><a href="/staff/schedule">Lịch giảng dạy</a></li>
            <li class="list-group-item"><a href="/logout" class="text-danger">Đăng xuất</a></li>
        </ul>
    </div>
    <script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>
